<a class="lightswitch btn btn-sm btn-outline-secondary d-print-none" onclick="theme.toggleTheme()" href="javascript:void(0)" title="Switch light/dark mode">
    <i id="lighticon" class="bi-brightness-high"></i>
</a>